.css-n7rtur-MuiPaper-root-MuiAppBar-root,
.css-o5srbh-MuiPaper-root-MuiAppBar-root,
.css-1se5fxw {
  background-color: #fff !important;
}

.css-n7rtur-MuiPaper-root-MuiAppBar-root {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  clip-path: inset(0px 0px -15px 0px);
}

.css-jcn4dz-MuiBadge-badge,
.css-zhwrlg {
  background-color: #0693e3 !important;
}

.css-1k9ek97,
.css-1yo8bqd,
.css-im4i5j {
  background-color: #fff !important;
}

.css-1ontqvh {
  padding: 0 !important;
}

.css-uhb5lp {
  width: 100% !important;
}

.appBar__button {
  background-color: #0693e3 !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100% !important;
}
